<!--
 WWW Client Side Image Map file for 'avatardzmap.jpg'

 Created by Painter

-->
<img src="avatardzmap.jpg" usemap="#avatardzmap.jpg">


<map name="avatardzmap.jpg">
<area shape="rect" href="hifi://windwaker" coords="606,108,810,301">
<area shape="rect" href="hifi://portalarium" coords="498,336,647,445">
<area shape="rect" href="hifi://avatardz" coords="142,116,291,261">
</map>

<!-- 3 total floaters, 3 have URLs -->

